.App {
  text-align: center;
  max-width: 550px;
  font-size: 10px;
  margin: auto;
}

header{
  font-size: 3em;
  background-color: red;
  padding: 20px;
  margin-top: 70px;

}

#bookmark-list{
  margin: 70px 80px;
  border: 1px solid black;

}

.single-bookmark{
  
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: lightcoral;
  border: 1px solid white;

}

.single-bookmark > div {

  display: inline-block;  

}
